<a href="{{ path('livre') }}"> Livre</a>
<a href="{{ path('exemplaire') }}"> Exemplaire</a>
<a href="{{ path('auteur') }}"> Auteur</a>
<a href="{{ path('theme') }}"> Theme</a>
<a href="{{ path('emprunt') }}"> Emprunt</a>
<a href="{{ path('reservation') }}"> Reservation</a>
<a href="{{ path('membre') }}"> Membre</a>
<a href="{{ path('faculte') }}"> Faculte</a>
<a href="{{ path('cycle') }}"> Cycle</a>
<a href="{{ path('logout') }}"> Déconnexion</a>
