{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Membre list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
				<th>Faculte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for m in membres %}
            <tr>
                <td><a href="{{ path('membre_show', { 'id': m.id }) }}">{{ m.id }}</a></td>
                <td>{{ m.identifiant }}</td>
                <td>{{ m.password }}</td>
                <td>{{ m.nom }}</td>
                <td>{{ m.prenom }}</td>
				<td>{{ m.faculte }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('membre_show', { 'id': m.id }) }}">Afficher</a>
                    </li>
                </ul>
                </td>
            </tr>
		{% else %}
			Pas de résultats trouvés
        {% endfor %}
        </tbody>
    {% endblock %}
