{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cycle</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nbjours</th>
                <td>{{ entity.nbJours }}</td>
            </tr>
            <tr>
                <th>Nblivres</th>
                <td>{{ entity.nbLivres }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cycle') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cycle_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
